.home-header {
    display: flex;
    flex-direction: column;
    
    @media (min-width: $screen-sm-min) {
        flex-direction: row;
        justify-content: stretch;
        align-content: space-around;
    }
}

@import "bio";
@import "main-header";
@import "navbar";